<div class="card">
    <h3>{{name}}</h3>
    <p>Spacious and grand villa, 3 bedroom, 2 bath.</p>

    <div class="cta-container"><a href="/catalog/{{_id}}" class="det-link">Details</a></div>
    <div class="card_circle"><img src="{{image}}"></div>

</div>