<div class="profile"><img src="/assets/profile.png" alt="default user">
    <h3>User Info:</h3>

    <ng-container *ngIf="!isEditing">
        <div class="flex">
            <p>Username: </p>
            <p>{{userProfile.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
        <p>{{userProfile.email}}</p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>{{ userProfile.tel ? userProfile.tel : 'No phone number'}}</p>
        </div>

        <button (click)="enterEditMode()" class="edit-button">Edit</button>
    </ng-container>

    <ng-container *ngIf="isEditing">
        <form #editProfileForm="ngForm">
            <div class="flex">
                <p>Username: </p>
                <input ngModel type="text" required minlength="5" name="username" id="username" />
            </div>
            <div class="flex">
                <p>Email: </p>
                <input #email="ngModel" ngModel [class.input-error]="email.touched && email.invalid" required emailValidation type="email"  name="email" id="email" />
            </div>
            <div class="flex">
                <p>Phone: </p>
                <div>
                    <select ngModel name="select-tel" id="select-tel" class="tel">
                        <option value="+359">+359</option>
                    </select>
                    <input ngModel type="text" name="tel" id="tel">
                </div>
            </div>
            <button (click)="isEditing = !isEditing;" type="button" class="red-button">Cancel</button>
            <button [disabled]="editProfileForm.invalid" class="green-button">Save</button>
        </form>
    </ng-container>
</div>