body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 330px;
    box-shadow: 0 0 10px gray;
}