<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="form" action="{% url 'model_page' %}" method="POST">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="Submit">


    </form>

    <style>
        .form {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: 100px auto;
            transform: scale(1.5);
        }
        .form input,
        .form textarea {
            margin: 10px 0;
        }

        .form .form-check {
            align-self: flex-end;
            margin: 0;
        }
    </style>
</body>
</html>