/* Todo list container */

.todo-list-container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.todo-list-container h1 {
  font-size: 2rem;
  height: 4rem;
}

.add-btn-container {
  text-align: right;
  margin-bottom: 5px;
}

.add-btn-container button {
  background-color: #317b6a;
  border-radius: 0;
}
.add-btn-container button:hover {
  box-shadow: 1px 2px 8px rgb(48, 48, 48);
}

.table-wrapper {
  position: relative;
  height: calc(100vh - 13rem - 45px);
  overflow-y: scroll;
  background: white;
  overflow: auto;
  width: 100%;
}

/* Loading spinner */

.loading-container {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container .loading-spinner {
  position: sticky;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  background: #333232e0;
  border-radius: 15px;
  z-index: 55;
  box-shadow: 1px 1px 15px 1px #ffffff;
  width: 120px;
  height: 120px;
}

.loading-container .loading-spinner:after {
  content: '';
  display: block;
  width: 105px;
  height: 105px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: #ffffff transparent #ffffff transparent;
  animation: spinner 1.2s linear infinite;
}

.loading-container .loading-spinner-text {
  position: absolute;
  top: 50px;
  left: 35px;
  color: white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Table */

.table {
  width: 100%;
  border-spacing: 0px;
}

.table thead {
  position: sticky;
  width: 100%;
  top: 0;
  background: white;
  z-index: 1;
}

.table thead tr {
  background-color: #24292f;
  color: white;
}

.table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.table tr th,
.table tr td {
  border-right: 1px solid white;
}

.table tr th:first-of-type,
.table tr td:first-of-type {
  border-left: 1px solid white;
}

.table-header-task {
  width: 60%;
}

.table-header-status,
.table-header-action {
  width: 20%;
}

.table tbody tr {
  margin: 0px 5px;
  height: 64px;
}

.table tbody tr:hover {
  background: rgba(51, 49, 49, 0.8);
  color: white;
}

.table tbody td {
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  padding: 5px;
  height: 64px;
  border-bottom: 1px solid white;
}

/* Table item */

.todo {
  margin-bottom: 5px;
  background-color: rgb(163, 95, 95);
}

.is-completed {
  background-color: rgb(95, 163, 101);
}

.todo-action .todo-btn {
  background: #24292f;
  border: none;
  padding: 5px 10px;
  height: 40px;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: bold;
}