.gallery ul {
    list-style: none;
}

.gallery li {
    margin: 5px;
    display: inline-block;
    border-width: 0.4rem;
    border-color: black;
    border-style: solid;
    padding: 10px;
    vertical-align: middle;
}

.gallery img.portrait {
    height: 450px;
    width: 300px;
}