@media screen and (max-width: 600px) {
    .tm-header-inner {
        flex-direction: column;
        padding: 40px 10px;
    }
    .tm-nav-ul li {
        padding-right: 15px;
        padding-left: 15px;
    }

    main > header > h2 {
        margin: 0 auto 30px auto;
    }

    .tm-gallery-page {
        margin: 0 30px;
    }

    .tm-gallery, .tm-gallery-page {
        flex-direction: column;
        align-items: center;
    }

    .tm-gallery {
        margin-left: 0;
    }

    .tm-cta-section.tm-section.tm-container-inner > article {
        flex-direction: column;
    }
}