<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'cbv_view_posts' %}">
    <input type="text" name="search" value="{{ search }}">
    <input type="submit" value="Search">
</form>

<ul class="list">
    {% for post in posts %}
        <li>
            {{ post.pk }} - {{ post.title }}
        </li>
    {% endfor %}
</ul>

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
{% else %}
    <a>&lt;</a>
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
{% else %}
    <a>&gt;</a>
{% endif %}
</body>
</html>
