<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'view_posts' %}">
    <input type="text" name="search" value="{{ search }}">
    <input type="submit" value="Search">
</form>

<ul class="list">
    {% for post in posts %}
        <li>
            <a href="{% url 'post_details' post.pk %}">{{ post.pk }} - {{ post.title }}</a>
            <a href="{% url 'post_update' post.pk %}">Update</a>
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
{% else %}
    <a>&lt;</a>
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
{% else %}
    <a>&gt;</a>
{% endif %}
</body>
</html>
